[submodule "external/Clara"]
	path = external/Clara
	url = https://github.com/0x8000-0000/Clara
	branch = fix-warnings
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
