[submodule "external/Clara"]
	path = external/Clara
	#url = https://github.com/catchorg/Clara
	url = git@github.com:0x8000-0000/Clara.git
	branch = fix-warnings
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
